# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# AppData
AppData/

# Temp output
temp/

# OS
.DS_Store
Thumbs.db

build/
dist/
*.pyz
*.pyd
*.pyw
*.pyz
*.pyd
*.pyw
*.pyz
*.pyd
*.pyw
*.log

downloads

vok_settings.json